*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    _height:100%;
    height:100%;
}

body {
    min-height: 100%;
    _height:100%;
    height:100%;
}

.block{
    height: 101px;
    width: 100px;
}

.nav-bar {
    position: fixed;
    height: 52px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px #000 solid;
}

#nav-tabs {
    font-size: 20px;
}

#nav-tabs li{
    width: 105px;
    line-height: 51px;
    vertical-align: middle;
    text-align: center;
    border-left: 2px #C4C4C4 solid;
    list-style-type:none;
    float: right;
}

#nav-tabs li.sigh{
    float: left;
    border-left: none;
}

#nav-tabs li a {
    color: #6f6f6f;
    text-decoration: none;
    background-color: #fff;
}

#nav-tabs li a img{
    vertical-align: top;
}

#nav-tabs li a:hover{
    color: red;
}

#nav-tabs li.custom {
    width: 300px;
    text-align: left;
    padding-left: 15px;
}

.navbar {
    position: fixed;
    top: 52px;
    width: 100%;
    height: 30px;
    border-radius: 0px;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
}

#navbar div a{
    color: #fff;
}

#navber div p{
    color: #7b7b7b;
}

#navbar div a:hover{
    color: red;
}

.carousel{
    overflow: auto;
    border-bottom: 4px black solid;
}

#myCarousel a{
    font-size: 300px;
    vertical-align: text-bottom;
}

.bottom{
    height: 100px;
    padding-left: 10px;
    padding-top:15px; 
    overflow: auto;
    width: 100%;
}

#bottom li{
    float: left;
    line-height: 50px;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    width: 100px;
}

#bottom .logo{
    font-size: 30px;
}
