.carContent{
	width: 60%;
	float: left;
	margin-left: 50px;
	margin-top: 60px;
}

.carContent p{
	margin-bottom: 40px; 
	font-size: 15px;
}

.carContent .car-head{
	margin-bottom: 30px;
	font-size: 22px;
}

.carContent .goodNo{
	padding-top:30px; 
	padding-bottom: 30px;
	border-top: 1px #6f6f6f solid;
	width: 100%;
}

#No2{
	border-bottom: 1px #6f6f6f solid;
}

.carContent .goodInfo{
	float: right;
	margin-right: 170px;

}

.carContent .goodInfo p{
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 80px;
}

.spinner{
	float: right;
	margin-left: 10px;
}

.carContent .goodNo .delete{
	float: right;
	margin-right: 30px;
	margin-top:225px;
}

.carContent .goodNo .delete a{
	color: #000;
}

.carContent .goodNo .delete a:hover{
	color: red;
}

.goodList{
	width: 30%;
	float: right;
	margin-right: 25px;
	margin-top: 180px;
	background-color: #1a1a1a;
	height: 460px;
	color: #fff;
}

.goodList .listTop{
	height: 280px;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
	font-size: 15px;
	border-bottom: 2px #fff solid;
}

.goodList .listTop p{
	margin-top: 10px;
}

.goodList .listTop div{
	height: 40px;
	margin-top: 40px;
}

.goodList .l{
	float: left;
}

.goodList .r{
	float: right;
}

.goodList .listBottom{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.goodList .listBottom p{
	font-size: 15px;
}

.goodList .listBottom button{
	margin-top: 40px;
	width: 250px;
	height: 50px;
	background-color: #4e644d;
	font-size: 24px;
	border: none;
}