#login-head {
    height: 300px;
    background-color: #2b2b2b;
    overflow: auto;
    color: #fff;
    padding-left: 100px;
    padding-top: 20px;
}

#login-head h4{
    line-height: 50px;
}

#login-head ul li{
    line-height: 50px;
    margin-left: 40px;
    float: left;
    list-style-type: none;
    width: 300px;
    text-align: center;
}

#login-content{
    padding-top: 120px; 
    padding-right: 230px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#login-content div{
    color: #6f6f6f;
    width: 300px;
    margin-top: 40px;
    margin-left: 645px;
    text-align: left;
}

#login-content div input{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

#login-content div button{
    font-size: 17px;
    width: 50px;
    margin-top: 10px;
    margin-left: 100px;
    color: #fff;
    background-color: #2b2b2b;
    border:none;
}

#login-content div p{
    margin-top: 10px;
    margin-bottom: 30px;
}

#login-content div p a{
    color: #1a1a1a;
    text-decoration: underline #1a1a1a;
}
