#custom-content{
    height: 800px;
    overflow: auto;
}

#custom-content div.custom-list{
    float: left;
    width: 15%;
    padding-left: 30px;
    padding-top: 35px;
    background-color: #333;
    height: 800px;
}

#custom-content div.custom-list p{
    color: #fff;
    font-size: 25px;
    margin-bottom: 40px;
}

#custom-content div.custom-list ul li{
    padding-left: 10px;
    font-size: 18px;
    list-style-type: none;
    line-height: 70px;
}

#custom-content div.custom-list ul li a{
    color: #bcb7b7;
    text-decoration: none;
}

#custom-content div.custom-list ul li .on{
    color: #fff;
}


#custom-content div.custom-body{
    float: right;
    width: 85%;
    height: 800px;
}

#custom-content div .custom-head{
    background-color: #2b2b2b;
    height: 100px;
    color: #fff;
    padding-top: 30px;
    padding-left: 30px;
    padding-right:50px; 
}

#custom-content div .custom-head p{
    float:left;
    font-size: 24px;
}

#custom-content div .custom-head button{
    font-size: 18px;
    float: right;
    width: 80px;
    border:none;
    background-color: #7e7e7e;
    color: #fff;
}

#custom-content div .custom-head button a{
    color: #fff;
    text-decoration: none;
}

#custom-content div .custom-head button a:hover{
    color: red;
}

#custom-content div .tab-content div{
    padding-top: 30px;
    padding-left: 30px;
}

#custom-content div .tab-content div p{
    font-size: 20px;
    padding-bottom: 20px;
}

#custom-content div .tab-content div ul li{
    font-size: 15px;
    list-style: none;
    line-height: 35px;
}

#custom-content div .tab-content div ul li a{
    color: #7e7e7e;
    text-decoration: none;
    font-size: 12px;
}

#custom-content div .tab-content div ul li a:hover{
    color: red;
}

#custom-content div .tab-content div button{
    font-size: 12px;
    background-color: #2b2b2b;
    line-height: 25px;
    margin-top: 30px;
    margin-right: 20px;
    width: 80px;
    border:none;
}

#custom-content div .tab-content div button a{
    color: #fff;
    text-decoration: none;
}

#custom-content div .tab-content div button a:hover{
    color: red;
}

caption{
    margin-left: 5px;
    color: #000;
    font-size: 16px;
}

#custom-content div .tab-content #address{
    color: #6f6f6f;
}

#custom-content div .tab-content #address p{
    font-size: 15px;
    color: #6f6f6f;
    margin-bottom: 20px;
}

#custom-content div .tab-content #address .title{
    font-size: 20px;
    color: #000;
}
#custom-content div .tab-content #address ul li{
    height: 50px;
}

#custom-content div .tab-content #address ul li a{
    margin-left: 50px;
    color: #000;
}
#custom-content div .tab-content #address form{
    margin-bottom: 40px;
}

#custom-content div .tab-content #address a{
    color: #000;
}

#custom-content div .tab-content #address div form input {
    border: 1px #000 solid;
    margin-left: 10px;
    margin-right: 20px;
}
