#register-head {
    height: 350px;
    background-color: #2b2b2b;
    overflow: auto;
    color: #fff;
    padding-left: 40px;
    padding-top: 20px;
}

#register-head h4{
    line-height: 50px;
}

#register-head ul li{
    line-height: 40px;
    margin-left: 40px;
    float: left;
    list-style-type: none;
    width: 200px;
    text-align: center;
}

#register-content{
    padding-top: 60px; 
    padding-right: 230px;
    text-align: center;
}

#register-content div{
    color: #6f6f6f;
    width: 400px;
    margin-top: 40px;
    margin-left: 400px;
    padding-left: 20px;
    text-align: left;
}

#register-content div input{
    border-top: 1px #000 solid;
    margin-bottom: 30px;
    font-size: 20px;
}

#register-content div button{
    font-size: 17px;
    width: 50px;
    margin-top: 20px;
    margin-left: 110px;
    color: #fff;
    background-color: #2b2b2b;
    border:none;
}